{
  "chores": {
    "Feed dogs": {
      "description": "todo",
      "frequency": "0 0 9,21 * * * *"
    },
    "Feed cats": {
      "description": "",
      "frequency": "0 0 20 * * * *"
    },
    "Clean catboxes": {
      "description": "asdf",
      "frequency": "0 0 9 */3 * * *"
    }
  },
  "overdue_time": "4h"
}
